#GENERATE KEY USING LIBRARIES SUCH AS CRYPTO
JWT_KEY=
JWT_REFRESH_KEY=
JWT_FORGOT_PASSWORD_KEY=

MONGO_ATLAS_USERNAME=admin-user
MONGO_ATLAS_PASSWORD=mose
MONGODB_URL=mongodb+srv://Tsom:mose@cluster0.kkjau.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

#GMAIL FOR SENDING PASSWORD RESET EMAIL [CURRENTLY MAILGUN IS BEING USED]
GMAIL=lemonvalley87@gmail.com
GMAIL_PASSWORD=#@Papabingi87$

APP_NAME=Stranzee
EMAIL_ADDRESS=lemonvalley87@gmail.com
SERVER_URL=http://localhost:3000

#FIREBASE FOR FILE STORAGE ONLY
FIREBASE_PROJECT_ID=stranzee-a17d8
FIREBASE_PRIVATE_KEY_ID=d859e45d285f60dc6e3c469415fea5d79d97c2fd
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_CONTENT_HERE\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@stranzee-a17d8.iam.gserviceaccount.com
FIREBASE_CLIENT_ID=100629048770561913566
FIREBASE_CLIENT_X509_CERT_URL=https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-fbsvc%40stranzee-a17d8.iam.gserviceaccount.com

FIREBASE_BASE_IMAGE_URL="https://firebasestorage.googleapis.com/v0/b/stranzee-a17d8.appspot.com/o/uploads%2F"

#MAILGUN AS EMAIL CLIENT
MAILGUN_API_KEY=
MAILGUN_DOMAIN=example.com
MAILGUN_EMAIL=mail@example.com
